.site-header{
	
	.aurelia-navigation{
		background-color: $light;
		border-radius: 22px;
		box-shadow: $drop-shadow;

		.site-logo{
			width: 42px;
			@media (max-width:$md) {
				width: 35px;
			}
		}
		
		.main-navigation{

			.menu-item a{
				color: $text-grey;
			}

			.menu-item a{
				position: relative;
				border-radius: 4px;
				overflow: hidden; // ensure pseudo-element stays inside
				z-index: 0;

				&:not(.active){

	
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 50%; // start from center
						width: 0;
						height: 100%;
						background-color: $grey; // your hover color
						z-index: -1; // behind text
						transition: width 0.2s ease, left 0.2s ease;
					}
	
					&:hover::before {
						width: 100%;
						left: 0; // expand to full width
					}
				}
			}


			.menu-item.active{
				background-color: $grey;				
				a{
					color: $dark;
				}
			}

			.dropdown {
				position: relative;
		
				.dropdown-menu {
					display: block; // required for animation trigger
					opacity: 0;
					visibility: hidden;
					transform: translateX(-15px);
					transition: opacity 0.3s ease, transform 0.3s ease;
					padding: 0px;
					width: 210px;
					border: none;
					box-shadow: $drop-shadow;
					.menu-item{
						padding: 0.5rem 1rem;
					}
				}
		
				&:hover {
					.dropdown-menu {
						opacity: 1;
						visibility: visible;
						transform: translateX(0);
					}
				}
			}
		}
	}
	.aurelia-offcanvas{
		.site-logo{
			width: 42px;
		}
		.dropdown{
			position: relative;
			.dropdown-menu {
				display: block;
				max-height: 0;
				opacity: 0;
				overflow: hidden;
				transition: max-height 0.3s ease, opacity 0.3s ease;
				padding: 0 !important;
				border: none;
				margin-left: 1rem;
			}

			.dropdown-menu.show {
			max-height: 500px;
			opacity: 1;
			}

		}


	}

}