.aurelia-btn {
  width: 40px; // same width and height
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: $primary; // or your preferred color
  color: #fff;
  transition: background-color 0.2s ease;
  padding: 14px;

  &:hover {
    background-color: darken($primary, 8%);
  }
}
